
/* Otros estilos... */

.form-container {
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #f06292;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #f48fb1;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fde7eb;
    margin: 20px;
}

.form-container {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #f8bfd1;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f06292;
    color: white;
}

ul {
    /* Conserva los estilos de la lista */
}

li {
    /* Conserva los estilos de la lista */
}

a {
    text-decoration: none;
    color: #f06292;
    display: inline-block;
    padding: 8px 12px;
    border: 1px solid #f06292;
    border-radius: 4px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #ec407a;
    color: white;
}

h1 {
    color: #ad1457;
}

input[type="text"],
input[type="number"],
button[type="submit"] {
    padding: 10px;
    margin: 5px;
    border: 1px solid #f48fb1;
    border-radius: 4px;
    box-sizing: border-box;
    transition: background-color 0.3s;
}

.submit-button {
    padding: 10px;
    margin: 5px;
    border: 1px solid #f48fb1;
    border-radius: 4px;
    box-sizing: border-box;
    transition: background-color 0.3s;
    background-color: #f06292;
    color: white;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #ec407a;
}
