<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add item</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styleAdd.css}">
</head>
<body>
<form th:action="@{/item/add}" th:method="post" class="form-container">
    <label class="form-group">
        <input placeholder="item name.." th:name="name" required>
    </label>
    <label class="form-group">
        <input th:type="number" placeholder="item level.." th:name="powerLevel" th:min="0">
    </label>
    <label class="form-group">
        <select th:name="wizard.id">
            <option th:each="wizard: ${wizards}" th:object="${wizard}" th:text="${wizard.getName()}" th:value="${wizard.getId()}"></option>
        </select>
    </label>
    <button th:type="submit" class="submit-button"> add Item</button>
</form>
</body>
</html>