<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Our Wizards</title>
    <link rel="stylesheet"  th:href="@{/headerStyle.css}">
    <link rel="stylesheet"  th:href="@{/mainStyle.css}">
</head>
<header th:id="mainHeader">
    <h1 th:fragment="headerFragment" class="headerContainer">
    <div class="search-form-container">
<!--    <form th:action="@{/wizard/search}" method="get">-->
<!--        <label>Get wizard details, please enter Wizard ID:-->
<!--            <input type="number" name="id" required th:min="1" >&lt;!&ndash;NAME &#45;&#45;compueba si el RequestParameter y el name son iguales&ndash;&gt;-->
<!--        </label>-->
<!--        <button type="submit" >Search</button>-->
<!--    </form>-->
<!--    <form th:action="@{/item/search}" method="get">-->
<!--        <label> Get wizard items, please enter Wizard ID:-->
<!--            <input th:type="number" name="wizardId" required min="1" th:max="${wizards.size()}">-->
<!--            <button type="submit">Search</button>-->
<!--        </label>-->
<!--    </form>-->
    </div>
    <a th:href="@{/wizard/list}"> Wizardpedia </a>
</h1>
</header>
<body>
<h1> Our Wizards </h1>
<table>
    <tr>
        <th> ID</th>
        <th> Wizards</th>
        <th> Magical items</th>
        <th> Power </th>
        <th> Total power </th>
        <th>Delete wizard</th>
        <th>Update wizard</th>
    </tr>
    <tr th:each="wizard: ${wizards}" th:object="${wizard}">
        <td th:text="*{id}">
        <td th:text="*{name}">
        <td>
            <p class="textTable" th:each="magicalItem : ${wizard.getMagicalItems()}" th:text="${magicalItem.getName()}"></p>
        </td>
        <td>
            <p th:each="magicalItem : ${wizard.getMagicalItems()}" th:text="${magicalItem.getPowerLevel()}"></p>
        </td>
        <td  th:text="*{getTotalScore()}"></td>
        <td>
            <form th:method="delete" th:action="@{/wizard/list/__${wizard.id}__}">
            <button class="tableButton"> delete</button>
            </form>
        </td>
        <td>
            <form th:method="put" th:action="@{/wizard/list/__${wizard.id}__}" >
                <label>
                    <input type="text" th:value="*{name}" name="name" placeholder="name..">
                </label>
                <label>
                    <input type="number" th:value="*{age}" name="age" placeholder="age.." th:min="0">
                </label>
                <button class="tableButton"> Update</button>
            </form>
        </td>
    </tr>
</table>
<form th:method="post" th:action="@{/wizard/list/add}">
    <label>
    Add a new wizard:
        <input th:type="text" name="name" placeholder="name" required>
        <input th:type="number" name="age" placeholder="age" min="0" max="1000" required>
        <input type="submit" value="add" class="submit-button">
    </label>
</form>
<a th:href="@{/item/add}" class="submit-button"> Add item</a>
</body>
</html>