<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th> Item ID</th>
        <th> Magical items</th>
        <th> Power </th>
        <th> Update</th>
        <th> Delete</th>
        <th> Wizard name</th>
    </tr>
    <tr th:each="item, itemStat: ${items}" th:object="${item}">
        <td th:text="*{id}">
        <td>
            <a th:text="*{name}" th:href="@{/item/list/__${item.name}__}"></a>
        </td>
        <td th:text="*{getPowerLevel()}">
        <td>
            <form th:method="put" th:action="@{/item/list/__${item.wizard.id}__/__${item.id}__}">
                <label>
                    <input type="text" th:value="*{name}" name="name">
                </label>
                <label>
                    <input type="number" th:value="*{powerLevel}" name="powerLevel" th:min="0">
                </label>
                <button> Update</button>
            </form>
        </td>
        <td>
            <form th:method="delete" th:action="@{/item/list/__${item.wizard.id}__/__${item.id}__}">
                <button> Delete</button>
            </form>
        </td>
        <td>
            <a th:if="${itemStat.first}" th:text="*{getWizard().getName()}" th:href="@{/wizard/__${item.wizard.name}__}"></a>
        </td>
    </tr>
</table>
</body>
</html>