<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>searching..</title>
    <link rel="stylesheet" th:href="@{/headerStyle.css}">
</head>
<header th:insert="welcome.html :: headerFragment" class="headerContainer"></header>
<body>
<div th:if="wizards" th:each="wizard : ${wizards}" th:object="${wizard}">
    <p> Wizard name:
        <a th:text="*{name}" th:href="@{/wizard/__${wizard.name}__}"></a>
    </p>
</div>
<div th:if="items" th:each="item : ${items}" th:object="${item}">
    <p> Magical item name:
        <a th:text="*{name}" th:href="@{/item/__${item.name}__}"></a>
        Wizard name: <a th:text="*{wizard.name}" th:href="@{/wizard/__*{wizard.name}__}" ></a>
    </p>
</div>
</body>
</html>