<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  th:href="@{/headerStyle.css}">
    <link rel="stylesheet"  th:href="@{/mainStyle.css}">
    <title>Welcome to Wizardpedia</title>
</head>
<body>
<header>
<h1 class="headerContainer">
    <a th:href="@{/wizard/list}"> Wizardpedia </a>
</h1>
</header>
<p>
    Hello and welcome to Wizardpedia!<br>

    Explore the magical world of wizards and enchanted objects.<br>
    In Wizardpedia, you can create wizards, give them magical items,<br>
    and find out how many power points you have. Have fun exploring<br>
    and discovering the magic!
</p>
<form th:action="@{/wizard/list}" method="get">
<button>
    Let's start!
</button>
</form>
</body>
</html>