<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>search</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<h1> <a th:href="@{/wizard/list}">Wizard information </a></h1>
<table>
    <tr>
        <th> ID</th>
        <th> Wizard name</th>
        <th> Age</th>
        <th> Magical items</th>
        <th> Total power </th>
    </tr>
    <tr th:object="${wizard}">
        <td th:text="*{id}">
        <td th:text="*{name}">
        <td th:text="*{age}">
        <td>
            <ul>
                <li th:each="magicalItem: ${wizard.getMagicalItems()}" th:text="${magicalItem.getName()}"></li>
            </ul>
        </td>
        <td th:text="*{getTotalScore()}"></td>
    </tr>
</table>
</body>
</html>